.git
.gitignore
.github
.venv
venv
env
.env
.env.*
!.env.example

__pycache__
*.pyc
*.pyo
*.pyd
*.egg-info
.eggs
build
dist

tests
notebooks
documents

.pytest_cache
.mypy_cache
.ruff_cache
.coverage
coverage.xml
htmlcov

.vscode
.idea
*.swp
.DS_Store

checkpoints
data
*.log
*.jpeg
*.jpg
*.png
